@import './animations.css';

.container {
	display: flex;
	justify-content: center;
	justify-items: center;
	align-items: center;
	height: 90vh;
}

#logo {
	opacity: 0;
}

.color_light_theme img#logo {
	content: url(../assets/lofi_logo_black.png);
}
.color_dark_theme img#logo {
	content: url(../assets/lofi_logo_white.png);
}
