@import './popup.css';
@import './style.css';
@import './bottom_nav.css';
@import './search.css';
@import './playlists.css';

.stations_container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#container {
	margin-top: 5%;
	margin-left: 1%;
	margin-right: -3%;
}

.color_dark_theme .shadower {
	background-color: var(--dark-song-name-shadow);
}
.color_light_theme .shadower {
	background-color: var(--light-song-name-shadow);
}

.song .shadower {
	margin-top: -8%;
	border-radius: 9.3px;
}
.song {
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
	font-family: var(--love-ya);
	width: 30%;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 1.25%;
	height: 130px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	flex-direction: column;
	border-radius: 12px;
	box-shadow: var(--shadow-color) 5px 5px 2px;
}
.song_btn_container {
	flex-direction: row;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	margin-top: 2%;
}
.song p {
	margin-left: 2%;
	text-align: center;
	z-index: 1;
}
.controler {
	display: flex;
	height: 12vh;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	width: 30%;
	border-radius: 12px;
	padding-right: 1%;
	margin-bottom: 1%;
}
.ctrl_left {
	background-size: cover;
	width: 40%;
	height: 100%;
	border-radius: 12px;
}
.ctrl_right {
	display: flex;
	flex-direction: column;
	height: 80%;
	justify-content: space-between;
	font-family: var(--love-ya);
	text-align: center;
	width: 60%;
}
.controler_buttons {
	height: 40%;
	display: flex;
	justify-content: space-around;
	width: 100%;
}
.color_dark_theme .controler {
	background-color: var(--dark-playing);
}
.color_light_theme .controler {
	background-color: var(--light-playing);
}
.recents {
	text-align: left;
	font-size: 170%;
	margin-left: 1%;
	font-family: var(--love-ya);
}

.color_dark_theme .add_pl_container,
.color_dark_theme .recents {
	color: var(--dark-font-color);
}

.color_light_theme .add_pl_container,
.color_light_theme .recents {
	color: var(--light-font-color);
}
