.color_dark_theme .search_input {
    background-color: var(--dark-search-input);
}
.color_light_theme .search_input {
    background-color: var(--light-search-input);
}

.search_input {
    border: none;
    width: 100%;
    position: absolute;
    left: 0;
    height: 8vh;
    font-size: 5vh;
    font-family: var(--love-ya);
    padding-left: 2%;
    z-index: 2;
    top: 0;
    margin-top: 7.01vh;
}
.search_input:focus {
    outline: none;
}