@import './vars.css';

::-webkit-scrollbar {
	display: none;
}

.color_dark_theme {
	background-color: var(--dark-background);
}
.color_light_theme {
	background-color: var(--light-background);
}

.upper_nav {
	position: fixed;
	width: 100%;
	height: 7%;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: x-large;
}

.color_dark_theme .upper_nav {
	background-color: var(--dark-upper-panel);
}
.color_light_theme .upper_nav {
	background-color: var(--light-upper-panel);
}

.dance {
	font-family: var(--dancing-script);
}
.loveya {
	font-family: var(--love-ya);
}

img#theme_icon {
	position: fixed;
	right:0;
	opacity: 0.8;
	width: 4%;
	margin-right: 0.5%;
	filter: brightness(0);
}
.color_dark_theme img#theme_icon {
	content: url(../assets/light_theme_icon.png);
}
.color_light_theme img#theme_icon {
	content: url(../assets/dark_theme_icon.png);
}