@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Love+Ya+Like+A+Sister&display=swap');

:root {
	/* Global variables */
	--love-ya: 'Love Ya Like A Sister', cursive;
	--dancing-script: 'Dancing Script', cursive;
	--shadow-color: rgba(5, 3, 3, 0.658);
	--popup-shadow-color: rgba(20, 20, 20, 0.45);
	--search-caret: #6e6e6e;
	--create-error-message: #c73d07;
	--yes-btn: #00e14b;
	--no-btn: #e73a0e;
	--pmd-btn-color: #FE5163;
	--pmd-session-color: #0F0F22;

	/* Dark vars */
	--dark-background: #021145;
	--dark-upper-panel: #bc33c8;
	--dark-upper-panel-grade: #791c81;
	--dark-bottom-panel: #ad009c;
	--dark-song-name-shadow: rgba(206, 206, 206, 0.53);
	--dark-search-input: #8852cd;
	--dark-playing: #ffe0e0;
	--dark-font-color: #eeeeee;
	--dark-popup-color: #0a0047;
	--dark-bottom-panel-grade: #7f0273;
	--dark-search-input-grade: #420097;
	--dark-create-pl-color: #d0d7ff;
	--dark-select-opt: #8700bd;

	/* Light vars */
	--light-background: #eeeeee;
	--light-search-input: var(--dark-search-input);
	--light-song-name-shadow: var(--dark-song-name-shadow);
	--light-font-color: black;
	--light-upper-panel: var(--dark-upper-panel);
	--light-upper-panel-grade: var(--dark-upper-panel-grade);
	--light-bottom-panel: var(--dark-bottom-panel);
	--light-playing: var(--dark-playing);
	--light-popup-color: #ffe7e7;
	--light-bottom-panel-grade: var(--dark-bottom-panel-grade);
	--light-search-input-grade: var(--dark-search-input-grade);
	--light-create-pl-color: #221e24;
	--light-select-opt: var(--dark-select-opt);
}
